@use '../styles/mixins' as *;

.script-item__select {
  font-size: $font-size-sm;
  color: $color-text;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  flex-shrink: 0;
  z-index: 3;
  position: absolute;
  left: 2.8em;
  top: 0;
  pointer-events: none;
}

.script-item__content-wrapper:hover .script-item__select,
.script-item__input:focus+.script-item__select,
.script-item__input:hover+.script-item__select,
.script-item__select:hover {
  opacity: 1;
  pointer-events: auto;

  &~.type-list {
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
  }
}

.current-type {
  padding: $spacing-xs;
  cursor: pointer;
  border-radius: $border-radius-sm;

  &:hover {
    z-index: 5;

    &~.type-list {
      opacity: 1;
      pointer-events: auto;
      z-index: 5;
    }
  }
}

.current-type:hover+.type-list,
.type-list:hover {
  opacity: 1;
  pointer-events: auto;
  z-index: 5;
}

.item-type-selector {
  position: absolute;
}

.type-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.type-list__item {
  margin: 0;
  padding: 0;
}

.type-list__button {
  border: none;
  background: none;
  cursor: pointer;
  padding: $spacing-xs;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
