.script-writer {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  /* navigation on the left, script on the right and writing space below */
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.script {

  .script-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
  }

  .script-item__container {
    border-radius: 0.4em;
    overflow: hidden;
  }

  .title {
    margin: 3rem 0;

    .content {
      text-decoration: underline;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .subtitle {
    margin: 2rem 0;
    text-align: center;
  }

  .slug {
    width: stretch;
    padding: 0 2rem;
    position: relative;
    text-transform: uppercase;
  }

  .slug-index {
    width: stretch;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
  }

  .action {
    width: stretch;
    padding: 0 2rem;
  }

  .character {
    width: 180px;
    margin: 0 auto;
    text-align: center;

    .content {
      word-break: break-all;
      text-transform: uppercase;
      margin-bottom: 0rem;
    }
  }

  .dialogue {
    width: 180px;
    margin: 0 auto;

    .content {
      margin-top: 0rem;
    }
  }

  .content {
    display: block;
    width: stretch;
    width: -moz-available;
    padding: 0.5em;
    margin: 0;
    height: auto;
  }

  .edit-area {
    border: none;
    border-radius: 0.4em;
    resize: none;
    text-align: inherit;
    overflow: hidden;

    &:focus {
      outline: none;
      background-color: #E0e0e0;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::placeholder {
      border-radius: 0.4em;
      background-color: #E0e0e0;
    }

  }
}

.element-indicators {}

.elements-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.element-item {
  cursor: pointer;

  &.--active {
    font-weight: bold;
  }
}

.story-navigation {

  .seasons,
  .episodes,
  .scenes {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 1rem;
  }

  .season-item,
  .episode-item {
    &.--active>button {

      font-weight: bold;
    }
  }

  button {
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    padding: 0.5rem 0;
    text-align: left;
    font-weight: inherit;
  }

}
